@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,700,700i");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif; }

.container {
  display: grid;
  grid-template: auto / 1fr;
  width: 320px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem; }

.form__buttom {
  background-color: #79A713;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 7px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1rem auto;
  padding: .7rem 1rem;
  font-size: 1rem;
  cursor: pointer; }

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  border-radius: 0 7px 7px 0;
  border: solid #707070 .5px;
  border-left: 0;
  height: 46px;
  font-size: 1rem;
  padding: 0; }
  .form__input:focus {
    outline: 0; }

.form__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 1rem auto 0; }
  .form__input-container .currency {
    font-size: 1rem;
    padding: 0 8px;
    font-weight: bold;
    color: #222;
    border: .5px solid #707070;
    border-right: 0;
    border-radius: 7px 0 0 7px;
    background: white;
    height: 46px;
    line-height: 2.9; }

.label, .output {
  font-weight: 700;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.output {
  font-size: 2rem;
  background-color: #f0f0f0;
  height: 4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px; }
  .output:before {
    content: "$";
    margin-right: .2rem; }
