$green: #79A713;
$white: #ffffff;
$grey: rgb(240, 240, 240);
$font__default: 'IBM Plex Sans', sans-serif;
$font__default--size: 16px;
$font__default--medium: 400;
$font__default--regular: 300;
$font__default--bold: 700;